.dailyEssential-watch{
    height: 48vh;
    text-align: center;
    /* border: 1px solid red; */
    margin: 5px;
}


.dailyEssential-watch .details{
    height: 12vh;
}
.dailyEssential-watch .image img{
    height:fit-content;
    width: 100%;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.5s ease;
    /* border-bottom: 1.5px solid lightgray; */
}
.dailyEssential-watch .image{
    height: 36vh;
    display: flex;
    justify-content: center;
    border-bottom: 1.5px solid lightgray;
}
.dailyEssential-watch .image:hover img{
    transform: scale(1.10);
    transition: all 0.7s ease;
}
.dailyEssential-watch .details p{
    text-align: center;
    padding: 10px;
    margin: 0;
}
.dailyEssential-watch .details h5{
    padding-top: 0px;
    margin-top: 0px;
}
.dailyEssential-watch .hoverOnWatch{
    visibility: hidden;
    opacity: 0;
    margin-top: 100px;
    list-style: none;
    display: flex;
    position: absolute;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
    transform: translateX(-3px) translateY(50px);
    transition: all 0.5s ease;
} 
.watch-modal{
    position: absolute;
    top: 13em;
    left: 25em;
    right: 20em;
    bottom: 10em;
    background-color: white;
}
.watch-modal .modal-details .modal-heading{
    /* border: 1px solid red; */
    height: 2em;
    padding: 1em;
    padding-top: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.watch-modal .modal-details .heading .icon{
    color: gray;
    font-size: 1.3em;
}
.watch-modal .modal-details .modal-body{
    display: flex;
    align-items: center;
    margin: 0px;
}
.watch-modal .modal-details img{
    height: 8em;
    /* border: 1px solid red; */
    margin: 0;
}
.watch-modal .modal-details .cart-btn{
    height: 5.5em;
    /* border: 1px solid red; */
    padding-bottom: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
.watch-modal .modal-details .cart-btn .shopNowBtn{
    font-size: 1em;
    letter-spacing: 2px;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    height: 3.5em;
  }

  .watch-modal .modal-details .cart-btn .checkout{
    background-color: white;
    color: black;
  }
  .watch-modal .modal-details .cart-btn .checkout::before{
    background-color: black ;
  }
  .watch-modal .modal-details .cart-btn .checkout:hover{
    color: white;
  }
  .watch-modal .modal-details .cart-btn .viewCart::before{
    background-color:rgb(0, 0, 0,0.9);
  }
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0,0.3);
  }
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.dailyEssential-watch:hover .hoverOnWatch{
    transform: translateX(0px) translateY(0px);
    transition: all 0.5s ease;
    visibility: visible;
    opacity: 1;
}

.dailyEssential-watch .hoverOnWatch-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 5px;
    background-color: rgba(236, 236, 236, 0.8);
    font-size: 20px;
    transition: all 0.5s ease;
}
.dailyEssential-watch .hoverOnWatch-item:hover{
    background-color: black;
    transition: all 0.5s ease;
}
.dailyEssential-watch .hoverOnWatch-item:hover .hoverOnWatchIcons{
    color: white!important;
}
.dailyEssential-watch .hoverOnWatch-item .tooltiptext{
    opacity: 0;
    visibility: hidden;
    position : absolute;
    display: block;
    width: auto;
    white-space: nowrap;
    bottom: 100%;
    background-color: black;
    color:white;
    font-size: 15px;
    border-radius: 3px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transform: translateX(0px) translateY(10px);
    transition: all 0.3s ease;
    
}
.dailyEssential-watch .hoverOnWatch-item .tooltiptext::before{
    content: " ";
    height: 12px;
    width: 12px;
    background-color: black;
    position:absolute;
    top: 80%;
    left: 45%;
    transform: rotate(45deg);
    border-radius: 1px;
}
.dailyEssential-watch .hoverOnWatch-item:hover .tooltiptext{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px) translateY(-10px);
    transition: all 0.3s ease;
}
.dailyEssential-watch .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
