.insta-gallery{
    margin-left: 20%;
    width: 80%;
    margin-bottom: 50px;
    height: 50vh;
}
.insta-gallery-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
}
.insta-gallery .white-board{
    text-decoration: none;
    position: absolute;
    right: 26.3%;
    margin-top: 8vh;
    background-color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 41px 43px 30px;
}
.insta-link{
    color: gray !important;
    font-size: 25px;
    text-decoration: none;
}
.insta-link:hover{
    color: black!important;
}