.header{
    margin-left: 20%;
    height: 90vh;
    background-color: black;
}
.carousel-caption{
    color: white;
    position: absolute;
    top: 200px;
    left: 0px;
    height: 300px;
    text-align:left;
    padding-left: 50px;
}
.carousel-caption h1{
    font-size: 70px;
    letter-spacing: 1px;
}
.carousel-caption h4{
    letter-spacing: 2px;
}
.c-image{
    height: 88vh;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  background-size: 100%, 100%;
  position: absolute;
  bottom: 10px;
}
.header .slider-btn{
  bottom: 15%;
  left: 20%;
  padding-left: 50px;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}
.header .slider-btn .prev-btn,
.header .slider-btn .next-btn {
    font-size: 35px;
    font-weight: normal;
    padding: 5px;
    cursor:pointer;
    border: none;
    background-color: transparent;
}
.header .slider-btn .next-btn {
    color: white;
    margin-left: 3px;
}
.header .slider-btn .slider-background{
    display: flex;
    height: 40px;
    width: 60px;
    background: url('../../../images/slider-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.sliderNumFixed,
.sliderNumDynamic{
    font-size: 17px;
    margin-left: 12px;
}
.sliderNumFixed{
  margin-left: 20px;
}
.carousel-caption .shopNowBtn{
  height: 55px;
  border: 1px solid white;
  color: white;
}
.carousel-caption .shopNowBtn::before{
  background-color: white;
}
.carousel-caption .shopNowBtn:hover{
  color: black;
}
@media screen and (max-width: 960px) {
  .header{
    margin-left: 0;
    margin-top: 80px;
    height: 80vh;
  }
  .header img{
    height: 80vh;
  }
}
@media screen and (max-width: 768px) {

  
  #c-img1{
    content:url("https://i.ibb.co/kHfMdDt/carousel-image-res-1.jpg")
  }
  #c-img2{
    content:url("https://i.ibb.co/HqgnSDF/carousel-image-res-4.jpg")
  }
  #c-img3{
    content:url("https://i.ibb.co/Cv8tBck/carousel-image-res-3.jpg")
  }
  #c-img4{
    content:url("https://i.ibb.co/0JjfPBQ/carousel-image-res-2.jpg")
  }
  .carousel-caption{
    color: white;
    position: absolute;
    top: 80px;
    left: 0px;
    height: 300px;
    text-align:left;
    padding-left: 80px;
  }
  .carousel-caption h1{
    font-size: 30px;
    font-weight: bold;
  }
  .carousel-caption h4{
    font-size:20px;
  }
 
}
