.insta-gallery-photos{
    height: 25vh;
    width: 100%;
    overflow: hidden;
}
.insta-gallery-photos img{
    height: 28vh;
    width: 11.5em;
    transform: scale(1);
    transition: all 0.5s ease;
}
.insta-gallery-photos:hover img{
    transform: scale(1.2);
    transition: all 0.5s ease;
}