.sidebar {
  background: #2c2c2c;
  height: 100vh;
  width: 20%;
  align-items: center;
  position: fixed;
  top: 0;
} 

.sidebar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.8em;
  letter-spacing: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.sidebar-logo:hover{
  color: #fff;
}
.sidebar-icon {
  margin-right: 0.5rem;
}

.sidebar-menu {
  list-style: none;
  display: inline;
}
.sidebar-item {
  /* border: 1px solid red; */
  height: 4em;
  display: flex;
  justify-content: center;
}



.sidebar-links {
  color: #fff;
  display: flex;
  position: relative;
  align-items: center;
  text-decoration: none;
  margin-bottom:0em;
}
/* .sidebar-links::before{
  content: " ";
  position: absolute;
  height: 70%;
  background-color: white;
  right: 0px;
  bottom: 0px;
} */

.sidebar-links:hover{
  color: #fff;
  border-bottom: 1px solid white;
}
.cart-menu{
  list-style: none;
  display: flex;
  height: 4em;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(139, 139, 139, 0.5);
  padding: 1em;
}
.sidebar .cart-item{
  height: 4em;
  border: 1px solid transparent;
  margin: 0.7em;
  font-size: 1.3em;
  /* background-color: red; */
}
.sidebar .cart-item .watch-count,.wish-count{
  height: 1.2em;
  width: 1.2em;
  font-size:13px;
  text-align: center!important;
  position: fixed;
  margin-bottom: 1em;
  margin-left: 1.1em;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 3.125em;
  display: flex;
  align-items:center;
  justify-content: center;
  cursor: pointer;
  
}
/* .sidebar .cart-item .watch-count{
  right: 50px;
}
.sidebar .cart-item .wish-count{
  right: 102px;
} */
.social-menu{
  list-style: none;
  display: flex;
  height: 4em;
  
  position: fixed;
  bottom: 0px;
  width: 20%;
  justify-content: center;
  align-items: center;
  border-top: 1px solid gray;
  padding: 0px 0px 0px 0px;
  margin-bottom: 0px;
}
.social-item{
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.3em;
  color: gray!important;
}


.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}
.cart-sidebar-inactive{
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 1;
  z-index: -1;
}
.cart-sidebar-active{
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  opacity: 1;    
}
.cartSidebar-background{
  position: absolute;
  /* right: -70%; */
  width: 100%;
  height: 100vh;
  opacity: 0;
  z-index: -1;
  background-color: rgb(0, 0, 0,0.3);
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  
}
.cart-sidebar-active .cartSidebar-background{
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  opacity: 1;
  background-color: rgb(0, 0, 0,0.3);
  transition: all .4s;
  transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
 
}
.cart-sidebar{
  position: absolute;
  width: 33%;
  height: 100vh;
  right: -33%;
  transition: all 0.3s ease;
}
.cart-sidebar-active .cart-sidebar{
  position: absolute;
  right: 0;
  z-index: 999;
  width: 33%;
  height: 100vh;
  background: white;
  transition: all 0.3s ease;
}
.cart-sidebar-details{
  padding-right: 2em;
  padding-left: 3em;
}
.cart-sidebar-item{
  margin-top: 0.6em;
  height: 50vh;
  margin-bottom: 1em;
  overflow-y: auto;
}
.cart-sidebar-item::-webkit-scrollbar-track
{
box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 10px;
background-color: #F5F5F5;
}

.cart-sidebar-item::-webkit-scrollbar
{
width: 8px;
background-color: #F5F5F5;
}

.cart-sidebar-item::-webkit-scrollbar-thumb
{
border-radius: 10px;
box-shadow: inset 0 0 6px rgba(0,0,0,.2);
background-color: #5e5e5e;
}
.cart-bar{
  background-color:rgb(235, 238, 238);
  height: 12vh;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cart-sidebar-active .cart-bar{
  display: flex;
  justify-content: space-between
}
.cart-menu-icon{
  cursor: pointer;
  color: gray;
  font-size: 25px;
}
.cart-sidebar-active .cart-menu-icon{
  cursor: pointer;
  color: gray;
  font-size: 25px;
}
.cart-sidebar-active .subtotal{
  display: flex;
  justify-content: space-between;
}
.cart-sidebar-details.subtotal.amount{
  color: gray
}
.cart-sidebar-active .cart-btn{
  text-align: center;
}
.cart-sidebar-active .cart-btn .shopNowBtn{
  font-size: 23px;
  letter-spacing: 2px;
  width: 100%;
}
.cart-sidebar-active .cart-btn .checkout{
  background-color: rgb(0, 0, 0,0.9);
  color: white;
}
.cart-sidebar-active .cart-btn .checkout::before{
  background-color: white ;
}
.cart-sidebar-active .cart-btn .checkout:hover{
  color: black;
}
.cart-sidebar-active .cart-btn .viewCart::before{
  background-color:rgb(0, 0, 0,0.9);
}
@media screen and (max-width: 960px) {
  .sidebar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }

  
  .sidebarItems {
    position: relative;
  }

  .sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .sidebar-menu.active {
    background: #2c2c2c;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }
  .cart-menu{
    display:none;
  }
  .cart-menu.active{
    display: none;
  }
  .sidebar-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .sidebar-links:hover {
    color: #f00946;
    transform: scale(1.1);
    transition: all 0.3s ease;
    border-bottom: none;
  }

  .sidebar-item:hover {
    border: none;
  }

  .sidebar-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -60px;
    font-size: 17px;
  }

  .sidebar-logo {
    position: absolute;
    top: -7px;
    left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: -7px;
    right: 0;
    transform: translate(-100%, 60%);
    margin-right: 10px;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .sidebar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
  }
  .social-menu{
    display: none;
  }
}
