.newsletter{
    margin-left: 20%;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
    line-height:1.5em;
    width: 80%;
    display: flex;
}
.join-newsletter{
    display: flex;
    justify-content:start;
    align-items: center;
    width: 40%;
}
.envelope-icon{
    font-size: 3em!important;
    color: white;
    padding: 28px;
    background-color: black;
    border-radius: 50%;
    margin-right: 30px;
}
.newsletter-header h2{
    letter-spacing: 1.5px;
}
.mail-box{
    width: 60%!important;
    display: flex;
    align-items: center;
    padding-left: 2.5em;
    width: fit-content;
}
input:focus{
    outline: none;
}
.mail-box .email-form{
    height: 8vh;
    width: 100%!important;
    border: 1px solid gray ;
    border-right: none!important;
    padding-left: 20px;
}
.mail-box .send-btn{
    height: 8vh;
    width: 10%;
    border: 1px solid gray;
    border-left: none!important;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}